
.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  
}

.cards__wrapper {
  position: relative;
  

}
.h1{
    text-align: left;
    font-size: large;
}